html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: var(--white);
  color: var(--black);
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;

  @media (min-width: 768px) {
    font-size: 1.4rem;
  }

  @media (min-width: 1340px) {
    font-size: 1.6rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}