:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --transparent-white: rgba(255, 255, 255, 0.719);
  --primary: rgb(122, 214, 187);
  --primary-darken: rgb(107, 201, 173);
  --gray: rgb(242, 242, 242);
}
