.navigation {
  position: relative;
  display: grid;
  width: 100%;
  background-color: var(--primary);
  border-top: 1px var(--white) solid;
  font-size: 2rem;

  @media (min-width: 768px) {
    padding: 0px 60px;
    font-size: 2.2rem;
  }

  @media (min-width: 1340px) {
    padding: 0px 400px;
  }

  &__nav {
    display: block;
    justify-self: flex-end;
    align-self: center;
    right: 10px;

    &_list {
      display: flex;
      list-style: none;
    }

    &_element {
      margin: 0px 10px;
    }

    &_link {
      display: grid;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: white;

      @media (min-width: 768px) {
        width: 45px;
        height: 45px;
      }

      &--active {
        border: 1px white solid;
      }

      &:hover {
        background-color: var(--primary-darken);
      }
    }
  }

  &__person {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -20px;
    left: 40px;
    border-radius: 50%;
    border: 7px solid var(--transparent-white);
    overflow: hidden;

    @media (min-width: 760px) {
      left: 80px;
      width: 130px;
      height: 130px;
    }

    @media (min-width: 1400px) {
      left: 240px;
      width: 150px;
      height: 150px;
    }

    &_image {
      max-width: 100%;
      transform: scale(1.4) translate(5px, 10px);

      @media (min-width: 760px) {
        transform: scale(1.2) translate(5px, 10px);
      }

      @media (min-width: 1400px) {
        transform: scale(1.2) translate(5px, 10px);
      }
    }
  }
}
